body {
	background: yellow;
	min-width: 300px;
}

#container {
	position: absolute;
	top: 6rem;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}

#container > .row {
	width: 100%;
	margin:0;
	height: 100%;
}

#MainboxItem, #boxItem {
   background: white;
   border: 1px solid grey;
   min-height: 100%;
   overflow: auto;
}

#MainboxItem div , #boxItem div {
   margin-bottom: 5px;
}

#listeListe, #listeTaches {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top-color:grey;
	border-top-style:solid;
	border-top-width:1px;
}

#listeListe li {
	width: 100%;
	margin-top: 5px;
}

#listeTaches li {
	width: 100%;
	margin-top: 5px;
}

input, button, textarea { max-width: 100%; }

.titre {
	color: white;
	background: black;
	border: 2px solid red;
	padding: 3px;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
}

.btn-todos {
	width: 85%;
}

.fini-false
{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.fini-false:hover
{
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.fini-true
{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.fini-true:hover
{
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}