<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- clé : 0cbd83dabea346dab268bf13ce476ae1 -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TD Angular</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/todos.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!--
		<link rel="stylesheet" href="style.css">-->
	</head>
	<body ng-app="liste">
		<h1>TODOS</h1>
		<div id="container">
			<div class="row">
				<div id="MainboxItem" class="col-sm-4 col-md-4" ng-controller="ListeController">
					<h2 class="titre">Liste des tâches</h2>
					<div class="form-inline">
						<input type="text" placeholder="Nom de la liste" class="form-control" id="liste-createbox" /> <button class="btn btn-primary" ng-click="create()">Créer la liste</button>
					</div>
					<ul id="listeListe" class="liste">
						<li class="MainItem" ng-repeat="lister in tab track by $index">
							<lister id="l-{{lister.id}}">
						</li>
					</ul>
				</div>

				<div id="boxItem" class="col-sm-8 col-md-8" ng-controller="TacheController">
					<h2 class="titre">Tâches</h2>
					<div class="form-inline">
						<input type="text" placeholder="Nom de la tâche" class="form-control" id="tache-createbox" /> <button class="btn btn-primary" ng-click="createTask()">Créer une tâche</button>
					</div>
					<ul id="listeTaches" class="taches">
						<li class="MainItem" ng-repeat="task in thisListe.todos track by $index">
							<task id="l-{{task.id}}">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/models/liste.js"></script>
		<script src="app/control/listeController.js"></script>
		<script src="app/directives/listeDirective.js"></script>
		<script src="app/models/tache.js"></script>
		<script src="app/control/tacheController.js"></script>
		<script src="app/directives/tacheDirective.js"></script>
	</body>
</html>
