<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- clé : 0cbd83dabea346dab268bf13ce476ae1 -->
		<meta charset="UTF-8">
		<title>TD Angular</title>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/models/liste.js"></script>
		<script src="app/control/listeController.js"></script>
		<script src="app/directives/listeDirective.js"></script>
		<script src="app/models/tache.js"></script>
		<script src="app/directives/tacheDirective.js"></script>
		
		<!--
		<link rel="stylesheet" href="style.css">-->
	</head>
	<body ng-app="liste" ng-controller="ListeController">
		<h1>TODOS</h1>
		<div id="MainboxItem">
			<h2 class="titre">Liste des tâches</h2>
			<div>
				<input type="text" id="liste-createbox" /> <button ng-click="create()">Créer la liste</button>
			</div>
			<ul id="listeListe" class="liste">
				<li class="MainItem" ng-repeat="lister in tab track by $index">
					<lister id="l-{{lister.id}}">
				</li>
			</ul>
		</div>

		<div id="boxItem">
			<h2 class="titre">Tâches {{laListe.label}}</h2>
			<div>
				<input type="text" id="tache-createbox" /> <button ng-click="createTask()">Créer une tâche</button>
			</div>
			<ul id="listeTaches" class="task">
				<li class="MainItem" ng-repeat="task in tabb track by $index">
					<task id="l-{{task.id}}">
				</li>
			</ul>
		</div>
	</body>
</html>
